{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react"],
  "extends": ["plugin:@typescript-eslint/recommended"]
}

